.login-container {
  display: flex;justify-content: center;
  align-items: center;
  height: 70vh;
}

.login-form {
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 60%; /* Ajuste para ocupar 60% do espaço */
}

.login-form h1 {
  font-size: 24px;
  text-align: center;
}

.login-form label {
  font-weight: bold;
}

.login-form .form-group {
  margin-bottom: 15px;
}

.login-form .btn-primary {
  background-color: #007bff;
  border: none;
}

.login-form .btn-primary:hover {
  background-color: #0056b3;
}

.first-access-href a {
  color: #007bff;
  text-decoration: none;
}

.first-access-href a:hover {
  text-decoration: underline;
}
