.signup-container {
    max-width: 700px;
    margin: 0 auto;
    height: 70hv;
}

.signup-form {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.signup-form h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: 500;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    outline: none;
}

.show-password-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-signup {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}